body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.array-container {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* .arraynum {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background: chartreuse;
} */

.array-bar {
  width: 10px;
  margin: 0 2px;
  background-color: pink;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.array-bar.comparing {
  background-color: #ff5757;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3e64af;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn.active {
  margin: 0 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3e64af;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn.disabled {
  margin: 0 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3e64af;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: not-allowed;
}

button:hover {
  background-color: #2c5e1f;
}

@media screen and (max-width: 768px) {
  .array-container {
    height: 50vh;
  }
}
